{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MegaGames</title>
  <link rel="stylesheet" href="{% static 'css/carrusel.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="#">MegaGames</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'index' %}" id="inicio-link">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'productos' %}" id="games-link">Videojuegos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" id="carro-link">
              <i class='bx bx-cart'></i> Carro <span id="cartItemCount" class="badge badge-pill badge-primary">0</span>
            </a>
          </li>
          {% if user.is_authenticated %}
            <li class="nav-item">
              <span class="nav-link">Bienvenido, {{ user.username }}</span>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'logout' %}"><i class='bx bx-log-out'></i> Cerrar sesión</a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'login' %}" id="login-link"><i class='bx bx-user'></i> Iniciar sesión</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'register' %}" id="registro-link"><i class='bx bx-user-plus'></i> Registro</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
  <div class="container my-5">
    <h1 class="text-center mb-4">Bienvenido a Mega Games</h1>
    <div class="row justify-content-center mb-4">
      <div class="col-md-6">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Buscar videojuegos" id="search-input">
          <div class="input-group-append">
            <button class="btn btn-primary" type="button" id="search-btn">Buscar</button>
          </div>
        </div>
      </div>
    </div>
    <div id="filtered-games-list" class="row">

    </div>
    <div id="all-games-list" class="row">

    </div>
  </div>

  <div class="modal fade" id="gameModal" tabindex="-1" role="dialog" aria-labelledby="gameModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="gameModalLabel"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <img id="gameModalImage" src="" alt="" class="img-fluid mb-3">
          <p id="gameModalDescription"></p>
          <p>Fecha de lanzamiento: <span id="gameModalReleaseDate"></span></p>
          <p>Rating: <span id="gameModalRating"></span></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary add-to-cart" data-id="">Agregar al carrito</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="addToCartModal" tabindex="-1" role="dialog" aria-labelledby="addToCartModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addToCartModalLabel">Producto agregado al carrito</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          El producto se ha agregado correctamente al carrito de compras.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Seguir comprando</button>
          <a href="{% url 'carro' %}" class="btn btn-primary">Ir al carrito</a>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer bg-dark text-white py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h5>Síguenos</h5>
          <ul class="list-unstyled">
            <li><a href="#" class="text-white"><i></i>Instagram</i></a></li>
            <li><a href="#" class="text-white"><i></i>Facebook</a></li>
            <li><a href="#" class="text-white"><i></i>Twitter</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h5>Contacto</h5>
          <p>Correo: MegaGames@gmail.com</p>
          <p>Teléfono: +569 66666666</p>
        </div>
        <div class="col-md-4">
          <h5>Sobre Nosotros</h5>
          <p>Somos una tienda en línea especializada en videojuegos para diversas plataformas.</p>
        </div>
      </div>
    </div>
  </footer>
  <script>
    var loginUrl = "{% url 'login' %}";
    var carroUrl = "{% url 'carro' %}";
  </script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="https://kit.fontawesome.com/your-font-awesome-kit.js" crossorigin="anonymous"></script>

  <script src="{% static 'js/buscador.js' %}"></script>
  <script src="{% static 'js/carrusel.js' %}"></script>
  <script src="{% static 'js/carro.js' %}"></script>

</body>
</html>